<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="stylesheet" href="/static/admin.css">
</head>
<body>

    <h1>Admin Login</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form action="/admin/login/submit" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>